<h2 class="post_title">
  <%= @post.title %>
</h2>

<div class="sub_title">
  Posted <%= time_ago_in_words(@post.created_at) %> ago  
</div>

<div class="index_row">
  <%= @post.description %>
  
</div>


 <h3 class="post_title">Add a Comment </h3>
 <div class="comments_wrapper">
 	<%= render @post.comments %>

 <div class="form">
  
  <%= render 'comments/form' %>
</div>
</div>

<div class="links">
  <%= link_to "Back", root_path %>
</div>