<h2 class="post_title">
  <%= @post.title %>
</h2>

<div class="index_row">
  <%= @post.description %>
  <div class="sub_title">
    Posted by <%= @post.user.email %> | <%= time_ago_in_words(@post.created_at) %> ago  
  </div>
</div>

<div class="comments_wrapper">
  <%= render @post.comments %>
  <div class="form">
    <h3 class="post_title">Add a Comment </h3>
      <%= render 'comments/form' %>
    </div>
</div>

<div class="links">
  <%= link_to "Back", root_path %>
</div>